<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619065905692-to4b4vit6letusinpr674519esc7t60e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619065905692-to4b4vit6letusinpr674519esc7t60e</string>
	<key>API_KEY</key>
	<string>AIzaSyBTHmY86oYAb-yS7wq2lcPQPHAuR2qws_s</string>
	<key>GCM_SENDER_ID</key>
	<string>619065905692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.covivo.ouestgo</string>
	<key>PROJECT_ID</key>
	<string>mobicoop-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>mobicoop-platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619065905692:ios:9779fe2abd8aecae0185d9</string>
	<key>DATABASE_URL</key>
	<string>https://mobicoop-platform.firebaseio.com</string>
</dict>
</plist>